@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: lato;
    line-height: .5em;
    background: #191919; /*#27293A*/
    display: grid;
    margin: auto;
}
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
}
.img a:hover{
    opacity: 60%;
    display: inline-block;
}
.img{
    max-height: 35vh;
    margin-top: 7em;
}
img{
    max-height: 35vh;
}
.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    font-size: 17px;
}
.footer a{
    text-decoration: none;
    color:rgb(221, 221, 221);
}
.footer a:hover{
    color:rgb(255, 255, 255)
}