div.title {
    height: auto;
    width: auto;
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccccff15;
}

section.seasonal-anime-wrapper {
    max-height: 100%;
    min-width: 60%;
    max-width: 60%;
    overflow: hidden;
}

.img-wrapper {
    display: flex;
}

div.seasonal-anime {
    width: 117px; /* 1000/8.5 */
    height: 176px; /* 1500/8.5 */
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

div.body-anime-desc {
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    background: #222129;
    border-bottom: 1px solid #b6bae5;
    opacity: 0;
    transition: .05s linear;
}

div.seasonal-anime:hover div.body-anime-desc {
    opacity: 1;
}

section.right-side {
    height: 100%;
    min-width: 35%;
    max-width: 35%;
    border-radius: 2px;
    margin-left: 60px;
    overflow: hidden;
}

section.right-side p {
    line-height: 1.7em;
    font-size: 14px;
    text-shadow: 1px 1px 1px black;
}

section.right-side p span {
    color: #b6bae5;
    font-weight: 600;
}

div.activity {
    width: 100%;
    overflow: hidden;
    max-height: 250px;
    margin-top: 10px;
    text-shadow: 0px 1px 1px black;
}

div.activity-entry {
    padding: .1em;
    word-wrap: break-word;
    overflow: hidden;
    margin: 5px 10px 5px 0px;
    border-radius: 2px;
    font-size: 14.5px;
    background: #222129;
    text-overflow: ellipsis;
}

div.activity-entry:first-child {
    margin-top: 0px;
}

div.activity-entry a {
    color: #b6bae5;
}

div.activity-entry a:hover {
    color: #b6bae5;
    text-decoration: underline;
}