body {
    background-color: #222129;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

a {
    color: whitesmoke;
}

div.web-container {
    width: 100%;
    height: 100%;
}

div.mid-wrapper {
    width: 1200px;
    height: 100%;
    margin: auto;
}

header {
    width: 100%;
    height: 70px;
    
    line-height: 70px;
    position: relative;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    border-bottom: 1px solid #ccccff15;
}

header h1 {
    
    position: absolute;
    left: 0%;
}

nav.header-ul {
    height: 100%;
    display: inline-block; /* to define width relatively */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ul.header-list {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
}

ul.header-list li.first-li {
    padding-left: 30px;
}

ul.header-list li {
    padding: 0px 15px;
}

ul.header-list li.last-li {
    padding-right: 30px;
}

ul.header-list:hover li {
    transition: .1s;
    opacity: 0.5;
}

ul.header-list li:hover {
    transition: .1s linear;
    opacity: 1;
}

div.profile {
    position: absolute;
    right: 2%;
}

ul.profile-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-weight: 700;
}

ul.profile-list li {
    padding-right: 0px;
    position: relative;
}

li span.profile-arrow {
    padding-left: 4px;
    font-size: 16px;
    color: whitesmoke;
}

div.profile-dropdown {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

    position: absolute;
    left: -50%;
    right: -30%;
    
    border-radius: 2px;
    border: 1px solid #ccccff15;
    border-top: none;
   
    background: #1e1d24;
    background: linear-gradient(to bottom, #222129, #1e1d24);

    opacity: 0;
    transition: 0.1s linear;

    z-index: 9999;
}

ul.profile-list li:hover div.profile-dropdown {
    opacity: 1;
}

div.profile-dropdown a{
    display: block;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    transition: .1s;
}

div.profile-dropdown a:hover {
    background: #18171d;
}

/* body */

div.body-wrapper {
    padding: 20px;
    height: 1000px;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    word-wrap: break-word; /* not using this causes word overflowing */
    display: flex;
    position: relative;
}

div.title {
    height: auto;
    width: auto;
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccccff15;
}

section.seasonal-anime-wrapper {
    max-height: 230px;
    width: 60%;
    overflow: hidden;
}

.img-wrapper {
    display: flex;
}

div.seasonal-anime {
    width: 117px; /* 1000/8.5 */
    height: 176px; /* 1500/8.5 */
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 5px;
    position: relative;
    text-align: center;
    cursor: pointer;
}

div.body-anime-desc {
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
    width: 100%;
    background: #222129;
    opacity: 0;
    transition: .05s linear;
}

div.seasonal-anime:hover div.body-anime-desc {
    opacity: 1;
}

section.right-side {
    height: 400px;
    width: 35%;
    position: absolute;
    right: 20px;
    border-radius: 2px;
}

section.right-side p {
    line-height: 1.7em;
    font-size: 14px;
    text-shadow: 1px 1px 1px black;
}
