.profile-wrapper img {
    min-width: 170px;
    max-width: 170px;
}

.body-wrapper {
    justify-content: center;
}

div.profile-wrapper {
    height: auto;
    text-align: center;
    max-width: 600px;
}

.body-wrapper svg{
    justify-content: center;
    fill: #fff;
    transition: .2s ease-in-out;
}

section.profile-photo {
    min-width: 600px;
    max-height: 600px;
    overflow: hidden;

    padding-bottom: 25px;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    z-index: 9999;
    position: relative;

   
}

div.github-profile {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

div.twitter-profile {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

section.profile-photo img {
    border-radius: 50%;
}

div.random-profile {
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
}

div.instagram-profile {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

section.profile-photo svg:hover {
    fill: #b6bae5;
}

section.username-profile {
    border-bottom: 1px solid #ccccff21;
    padding-bottom: 10px;
    
}

section.username-profile h1 {
    font-size: 30px;
    display: none;
}

section.header-profile {
    width: 100%;
    margin-top: -70px;
}

section.header-profile img {
    max-width: 100%;
    max-height: 200px;
}

section.list-profile {
    max-width: 100%;
    background: #b6bae5;
    color: #222129;
    text-shadow: none;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0px;
    text-align: center;
}

section.list-profile ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.list-profile li {
    padding: 0px 20px;
}

section.lists-wrapper {
    max-width: 100%;
    min-height: auto;
    max-height: 800px;
    padding: 10px 15px;
    border: 1px solid #b6bae5;
    text-shadow: 0px 1px 1px black;
    text-align: left;
}

section.anime-list li {
    padding: 5px 0px;
    border-bottom: 1px solid #ccccff21;
}

section.anime-list li.first-li {
    padding-top: 0;
}
section.anime-list li.last-li {
    padding-bottom: 0;
    border-bottom: none;
}